.btn {
  cursor: pointer;
  font: inherit;
  background-color: rgba(255, 255, 255, 0.986);
  border: 1px solid white;
  padding: 0.75rem 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  border-radius: 25px;
}

.btn:hover,
.btn:active {
  background-color: rgba(255, 255, 255, 0.959);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  color: black;
}

.badge {
  background-color: black;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.text {
  color: black;
}
