@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  height: 12vh;
  background-color: rgb(34, 34, 34);
  font-family: "Montserrat";
}

/* Styling Logo */
.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: 1.45rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling Links */

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  text-decoration: none;
  font-weight: 14px;
  color: white;
}
